# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Model checkpoints and heavy artifacts
checkpoint/
*.pth
*.pt

# Local datasets
data/
105_classes_pins_dataset/

# Optional generated figures
# figs/
# figs_algo/
